<div class="footerContainer">
    <div class="footer">
        <div class = "icons"><a href="https://www.instagram.com/"><img src="img/icons/instagram.png" alt=""></a></div>
        <div class = "icons"><a href="https://www.facebook.com/"><img src="img/icons/facebook.png" alt=""></a></div>
        <div class ="navButtons"><a href = "mailto: sealgp1@student.op.ac.nz">SEALGP1@STUDENT.OP.AC.NZ</a></div>
        <div class ="navButtons">2021 KIMI AVIATION</div>
        <div class ="navButtons">2021 KIMI AVIATION</div>
    </div>
</div>