<div class = "header">  
    <div class = "navigation">
        <div class = "navButtons">INTRODUCTION</div>
        <div class = "navButtons">GALLERY</div>
        <img src="img/index_img/navLogo.png" class = "navLogo">
        <div class = "navButtons">CONTACT</div>
        <div class = "navButtons" ><a href="mailto: sealgp1@student.op.ac.nz"><img src="img/icons/mail.png" alt=""></a></div>
    </div>
</div>

<div id = "page-scrollbar-container">
    <div id = "scroll-bar-block-top"></div>
    <div id = "scroll-bar-thumb"></div>
    <div id = "scroll-bar-block-bottom"></div>
</div>