@font-face {
  font-family: myFirstFont;
  src: url();
}

html {
  /* scroll-behavior: smooth; */
}

#scrollBar {
  height: 100px;
  width: 3px;
  background-color: white;
  position: absolute;
}

body {
    margin: 0;
    background: #0a0a0d;
    overflow-x: hidden; /* Hide horizontal scrollbar */
  } 

.container{
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  color: teal;
  
}
.main{
  width: 65%;
  background-color: palegoldenrod;
}
.bannerText .boxText{
  width: 25%;
}
.boxText{
  /* heigth:100vh; */
  
  display: flex;
  /* justify-content: center; */
  align-items: center;
  color: white;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  }

.logo{
  transform: translatex('200px');
  width: 65%;
  text-align: center;
  align-self: center;
  opacity: 0.7;
  margin-top: 12%;
}
.headerimg{
  display: flex;  
  position: relative;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
  top: 0px;
}

.fadeGradient{
height: 100px;
width: 100%;
position: absolute;
bottom: -1px;
background-image: url("../../img/fade.png");
background-repeat: repeat-x;
}

.header{
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 4;
  transition: 800ms ease all;
  top: 0px;
}

.headerFade{
  height: 80px;
  border-bottom: 1px solid rgb(255, 255, 255, 0.3);
  background-color: rgb(0, 0, 0, 0.8);
  transition: 800ms ease all;
  top: 0px;
}

.navigation{    
  width: 65%;
  display:flex;
  /*grid-template-columns: 1fr 1fr 3fr 1fr 1fr ;*/
}

.navButtons{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0px 20px;
  font-size: 13px;
}

.navigation .navButtons:nth-child(4){
  margin-left: auto;
}

.navigation .navButtons:nth-child(3){
  margin-left: auto;
}

.navPad{
  height:100vh;
}

.navLogo{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: auto;
}

.roundIconContainer{
  background-image: url("../../img/index_img/arrow.png") ;
  background-size: 100%;
  height: 150px;
  width: 150px;
  color: white;
  margin-left: auto;
  align-self: flex-end;
  z-index: 1;
}
.roundIcon{
  background-image: url("../../img/index_img/round-text.png") ;
  background-size: 100%;
  height: 100%;
  width: 100%;
  transition: 800ms ease all;
}

.fourColumns{
  width: 65%;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
}

.bannerText{
  display: flex;
  justify-content: flex-end;
  /* align-self: end; */
  width: 65%;
  /* height: 100px/; */
}

video {
  object-fit: cover;
  position: absolute;
  top: 0px;
  height:100vh;
  width: 100vw;
}

.windowVideo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  background-color: #336585;
}

.windowVideo video {
  height:700px;
  position: absolute;
  z-index: -5;
  margin: auto;
  width: 100%;
}

.subWindowContainer{
  position:relative;
  display: flex;
  width: 65%;
  height: 700px;
}

.subWindow {
  left: 0;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  background-image: url("../../img/index_img/sub-window2.png") ;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;

}

.subWindowBack{
  left: 0px;
  top: 0px;
  z-index: -1;
}

.subWindowText{
  padding-top: 10%;
  position: flex;
  justify-items: center;
  color: rgb(255, 255, 255);
  width: 37%;
  line-height: .9;
  
}

/* .roundIcon{
  bottom: 0px;
  right: 16px;

} */

.bodyContainer{
  width: 65%;
}

.twoColumn {
  width: 100%;
  display:grid;
  grid-template-columns: 1fr 1fr;
  color: white;
}

.midText {
 margin-bottom: 250px;
}

.threeColumnImg {
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* display:grid; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  color: white;
  padding-top: 5%;
  margin-top: -300px;
}

.threeColumnImg .leftCol{
  /* margin-top: -50px; */
}

.threeColumnImg .midCol{
  margin-top: 100px;
}

.threeColumnImg .rightCol{
  margin-top: 50px;
}

/* properties given to classes before they appear on screen scroll */
h2, h1, .leftCol, .midCol, .rightCol, .logo, .boxText, .contactGrid div, .textBlock{
  opacity: 0;
  transition: opacity 1200ms ease-out, transform 500ms ease-out;
  transform: translateY(100px);
}

.boxText:nth-child(2){
  opacity: 0;
  transform: translateY(0);
  transform: translateY(20%);
}

.navigation{
  opacity: 0;
  transition: opacity 1200ms ease-out, transform 500ms ease-out;
  transform: translateY(-60%);
}

.bannerVid{
  top: 0px;
  opacity: 0;
  transition: opacity 3000ms ease-out, transform 500ms ease-out;
}


/* properties given to classes when they appear on screen scroll */
h2.appear, h1.appear, .leftCol.appear, .midCol.appear, .rightCol.appear, .bannerVid.appear, .boxText.appear, .navigation.appear, .contactGrid div.appear, .textBlock.appear{ 
  opacity: 1;
  transform: translateY(0);
}

.boxText:nth-child(2).appear{
  opacity: 1;
  transform: translateY(0);
}


.logo.appear{
  opacity: 0.9;
  transform: translateY(0);
}

/* .rightCol.slide{
  opacity: .5;
} */

/* h2, h1, .leftCol, .midCol, .rightCol{
  opacity: 0;
  transition: opacity 600ms ease-out;
  transform: translateY(5%);
  transition: transform 600ms ease-out;
} */

.midCol{
  width: 25%;
  /* transition: 2000ms ease all; */
  opacity: 0;
  transition: opacity 1200ms ease-out, transform 500ms ease-out;
  transform: translateY(10%);
  /* padding: 15px 7% 75px 7%; */
}

.rightCol{
  width: 30%;
  opacity: 0;
  transition: opacity 1200ms ease-out, transform 500ms ease-out;
  /* padding: 15px 15px 75px 15%; */
}

.leftCol{
  padding-top: -100px;
  width: 30%;

}

h2{
  font-weight: 100;
  font-size: 4em;
  font-family: 'Lato', sans-serif;
  opacity: 0;
  transition: opacity 1200ms ease-out, transform 500ms ease-out;
  transform: translateY(25%);
}

.centered{
  display: flex;
  justify-content: center;
}

.whiteBack{
  background-color: white;
}

#imageScrollContainer{
  display: flex;
  background: linear-gradient(
    to bottom, 
    #ffffff 0%, 
    #ffffff 50%, 
    #0a0a0d 50%, 
    #0a0a0d 100%
  );
}

.imageScroll{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: 0a0a0d;
  height: 600px;
  position:relative;
  
}

.imageScroll img{
  padding: 30px;
  z-index: 2;
}

.imageScroll .whiteBack{
  height: 60%;
  color: aliceblue;
  width: 100%;
  position: absolute;
  top: -1px;
  z-index: -1;
}

.scrollImage{
  z-index: 1;
  
}

.whiteBack p {
  color: black;
}

.whiteBack h2 {
  color: black;
}

.whiteBack h3 {
  color: #336585;
}

.textBlock {
  width: 50%;
}

.centered .textBlock{
  text-align: center;
  width: 70%;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  /* overflow-x: hidden; */
  }



h1{
  font-weight: 100;
  font-size: 80px;
  font-family: 'Lato', sans-serif;
  opacity: 0;
  transition: opacity 250ms ease-in;
}

h3{
  font-family: 'Lato', sans-serif;
  color: #336585;
  font-size: initial;
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-size: 2.5em;
  padding: 1em 0px 0px;
}

.threeColumnImg h3{
  padding: 1em 7% 0px;
}

.threeColumnImg p{
  padding: 1em 7% 0px;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-size: .8em;
  line-height: 1.7em;
}



.contact{
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  display:grid;
  grid-template-columns: 1fr 1fr;
  color: white;
}

.contact .textBlock{
  width: 85%;
  /* transform: translateY(-15%); */
}


.contactGrid{
  padding: 15px;
  display: grid;
  align-items: center;
  grid-template-columns: 50px 300px;
  grid-template-rows: repeat(3,50px);
}

.contactGrid div{
  transform: translateY(100px);
}

.footerContainer{
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer{
  display: flex;
  height: 100%;
  width: 65%;
  justify-content: space-between;
}

.footer .navButtons:nth-child(4){
  margin-left: auto;
  color: pink; 
}

.footer .navButtons:last-child{
  padding-right: 0;
}

.footer .navButtons:first-child{
  padding-left: 0;
}

.verticalLine{
  background-image: url("../../img/verticalLine.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  padding: 100px;
}

.weather{
  margin: auto;
  display: flex;
  color: white;
  white-space: nowrap;
  align-items: center;
  padding-top: 20px;
}

.weather div{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  
}

.weather div:nth-child(even){
  color: teal;
  font-style: normal;

}

.weather div:nth-child(even)::after{
  content: "/";
  padding-left: 10px;
  font-size: 40px;
  }


  .experiment{
    width: 3000px;
    height: 30px;
    background-color: brown;
  }

  /* .imageScroll div{
    background-color: aquamarine;
  } */